:root{
    font-size: 18px;
    --roxo: #514988;
    --amarelo: #F3C61F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-image: linear-gradient(to right, var(--amarelo), #f7cb2f 80%, #f7cb2f);
    padding: 20px 40px;
}
.main{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    width: 100vw;
}
#informations {
    padding-top: 20px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
    background-image: linear-gradient(var(--roxo), #090329);
    line-height: 1.25;
    font-size: 1.2rem;
}
  #informations h1{
    color: #F3C61F;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  #informations h3{
    margin-bottom: 40px;
  }
#coutdown_section {
    text-align: center;
    padding: 10px;
}
#coutdown_text {
    color: #E33881;
    margin-bottom: 20px;
}
.timer{
    display: flex;
    justify-content: center;
}
.relogio{
    margin: 20px 40px;
    font-size: 1.3rem;
    color: #514988;
}
#video{
    width: 95%;
}
footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}
footer h1 {
    color: #F3C61F;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
}
#buttom_div{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
button {
    background-color: #514988;
    color: white;
    font-size: 1.6rem;
    height: 30%;
    width: 65%;
    border-radius: 20px;
    border: none;
}
#buttom_div{
    margin-top: 20px;
}
button:hover{
    background-color: #312b52;
    scale: 1.1;
}

@media (max-width: 600px){
    :root{
        font-size: 13px;
    }
    .main{
        display: flex;
        flex-direction: column; 
        width: 100vw;
    }
    .relogio{
        margin: 20px 10px;
    }
    #videoint{
        display: block;
        margin: 0 auto;
    } 
    #video{
        width: 90%;
    }
    footer {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        flex-wrap: wrap;
        text-align: center;
    }
    footer h1 {
        margin-left: 0px;
    }
}
