/*configurações iniciais*/
:root{
    font-size: 18px;
    --roxo: #514988;
    --amarelo: #F3C61F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*cabeça do document*/
.header{
    background-image: linear-gradient(to right, var(--amarelo), #f7cb2f 80%, #f7cb2f);
    padding: 20px 40px;
}
/*Informações principais da página*/
.main{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    width: 98vw;
}
#informations {
    padding-top: 20px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
    background-image: linear-gradient(var(--roxo), #090329);
    line-height: 1.25;
    font-size: 1.2rem;
}
  #informations h1{
    color: #F3C61F;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  #informations h3{
    margin-bottom: 40px;
  }
#coutdown_section {
    text-align: center;
    padding: 10px;
}
#coutdown_text {
    color: #E33881;
    margin-bottom: 20px;
}
.timer{
    display: flex;
    justify-content: center;
}
.relogio{
    margin: 20px 40px;
    font-size: 1.3rem;
    color: #514988;
}
video{
    width: 95%;
}
/*Botão imagens e titulos do footes*/
footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin-bottom: 55px;
}
footer h2 {
    color: #F3C61F;
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
}
#mostruario img{
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
/*Mudanças nos cards quando selecionados*/
    .cardChanges {
        border: 1px solid gray;
        transition: transform 0.3s ease-in; 
        transform: scale(1.1);
        box-shadow: 10px 10px 10px gray;
    }
    .card-selected{
        border: 20px solid greenyellow;
    }
/*        FIM DAS MUDANÇAS NOS CARDS      */

#buttom_div{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin-top: 20px
}
#cliqueAqui {
    background-color: #514988;
    color: white;
    font-size: 1.6rem;
    height: 30%;
    width: 65%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#cliqueAqui:hover{
    background-color: #312b52;
    scale: 1.1;
}
#formSection{
    background-image: linear-gradient(var(--roxo), #090329);
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 30vh;
}
input{
    display: flex;
    flex-direction: column;
    background-color: #665e9c;
    border-radius: 10px;
    color: #FFFFFF;
    border: 0;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 300px;
    height: 40px;
    padding: 15px;
    font-size: 1.2rem;
}
    input::placeholder {
        color: rgb(175, 175, 175);
    }
    #enviar__email:hover{
        background-color: #312b52;
        scale: 1.1;
    }
@media (max-width: 600px){
    :root{
        font-size: 13px;
    }
    .main{
        display: flex;
        flex-direction: column; 
    }
    .relogio{
        margin: 20px 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        flex-wrap: wrap;
        text-align: center;
    }
    footer h2 {
        margin-left: 0px;
        padding: 10px;
    }
}
